<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h2>List of Users</h2>
            <table calss="table table-bordered table-dark ">
                <thead>
                    <tr>
                        <th>Sl number</th>
                        <th>User name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="eachUser" *ngFor="let user of users" (click)="showUserDetail(user)">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <p *ngIf="!selectedUser">Click on particlar user to get his/her detailes</p>
            <app-child [selectedUser]="selectedUser" *ngIf="selectedUser"></app-child>
        </div>
    </div>
</div>