<div >
    <h2>User detailes</h2>
    <b>First Name</b>  = {{selectedUser?.detailes?.firstName}} <br>
   <b>Last name</b>  = {{selectedUser?.detailes?.lastname}} <br>
    <b>Qalification</b>  = {{selectedUser?.detailes?.qalification}} <br>
   <b>degree score</b>  = {{selectedUser?.detailes?.degreeScore}} <br>
   <b>age</b>  = {{selectedUser?.detailes?.age}} <br>
</div>